.storage-grid {
	-fx-background-color:transparent;
	-fx-padding:0;
}

.storage-grid-cell-selected{
	-fx-background-color:grey;
}

.storage-grid-cell {
	-fx-background-color:white;
	-fx-border-color: black;
	-fx-border-width:0.1;
	-fx-insets:0, 0 1 1 0;
	
}

.storage-grid-cell-shelf{
	-fx-background-color:rgba(0,128,0,1);
	-fx-border-color: black;
	-fx-border-width:0.1;
	-fx-insets:0, 0 1 1 0;
}

.storage-grid-cell-wall{
	-fx-opacity:0.0 ;
	-fx-border-color: black;
	-fx-border-width:0.1;
	-fx-insets:0, 0 1 1 0;
}

.storage-grid-cell-shelf-seventyfive{
	-fx-background-color:rgba(0,128,0,0.75);
	-fx-border-color: black;
	-fx-border-width:0.1;
	-fx-insets:0, 0 1 1 0;
}

.storage-grid-cell-shelf-seventyfive{
	-fx-background-color:rgba(0,128,0,0.75);
	-fx-border-color: black;
	-fx-border-width:0.1;
	-fx-insets:0, 0 1 1 0;
}

.storage-grid-cell-shelf-out{
	-fx-background-color:rgba(169,169,169,1);
	-fx-border-color: black;
	-fx-border-width:0.1;
	-fx-insets:0, 0 1 1 0;
}

.storage-grid-cell-shelf-twentyfive{
	-fx-background-color:rgba(0,128,0,0.25);
	-fx-border-color: black;
	-fx-border-width:0.1;
	-fx-insets:0, 0 1 1 0;
}

.storage-grid-cell-shelf-zero{
	-fx-background-color:rgba(0,0,0,1);
	-fx-border-color: black;
	-fx-border-width:0.1;
	-fx-insets:0, 0 1 1 0;
}

.storage-grid-cell:hover, .storage-grid-cell-selected:hover{
	-fx-opacity:0.5;
}

.info-box {
	-fx-background-color: white;
	-fx-background-radius:10;
	-fx-border-color: black;
	-fx-border-width:0.1;
	-fx-border-radius:10;
	-fx-insets:0, 0 1 1 0;
	
}

.language-flag-united{
	-fx-background-image: url("flags/united.png");
	-fx-background-size: stretch  ;
}

.language-flag-finland{
	-fx-background-image: url("flags/finland.png");
	-fx-background-size: stretch  ;
}

.language-flag-sweden{
	-fx-background-image: url("flags/sweden.png");
	-fx-background-size: stretch  ;
}