
.storage-grid {
	-fx-background-color:transparent;
	-fx-padding:10;
}

.storage-grid-cell-selected{
	-fx-background-color:black;
}

.storage-grid-cell {
	-fx-background-color:white;
	-fx-border-color: black;
	-fx-insets:0, 0 1 1 0;
}

.storage-grid-cell:hover{
	-fx-background-color:lightgray;
}