
.storage-grid {
	-fx-background-color:transparent;
	-fx-padding:10;
}

.storage-grid-cell-selected{
	-fx-background-color:grey;
}

.storage-grid-cell {
	-fx-background-color:white;
	-fx-border-color: black;
	-fx-border-width:0.1;
	-fx-insets:0, 0 1 1 0;
	
}

.storage-grid-cell:hover, .storage-grid-cell-selected:hover{
	-fx-opacity:0.5;
}